<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ServletGetPost</display-name>
    <servlet-name>ServletGetPost</servlet-name>
    <servlet-class>ServletGetPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetPost</servlet-name>
    <url-pattern>/ServletGetPost</url-pattern>
  </servlet-mapping>
  <display-name>p2Servlet1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PostHandler</display-name>
    <servlet-name>PostHandler</servlet-name>
    <servlet-class>PostHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostHandler</servlet-name>
    <url-pattern>/PostHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>firstSurvlet</display-name>
    <servlet-name>firstSurvlet</servlet-name>
    <servlet-class>firstSurvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstSurvlet</servlet-name>
    <url-pattern>/firstSurvlet</url-pattern>
  </servlet-mapping>
</web-app>